@media print {
  .Page {
    display: block;
  }
  .TopPanel {
    display: none;
  }
  .SidePanel {
    display: none;
  }
  .MainTopPanel {
    display: none;
  }
  .MainPanel {
    position: initial !important;
    top: initial !important;
    left: initial !important;
    right: initial !important;
    bottom: initial !important;
    overflow-y: initial !important;
  }
  .Panel {
    background-color: white;
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;
    border-right: none !important;
  }
  .MuiPaper-elevation4 {
    box-shadow: none !important;
  }
  .Version {
    display: none;
  }
  .ReportDisplay .ReportDisplayTable .ReportCell {
    color: black;
  }
}

@media screen {
  .Page {
    display: grid;
    height: calc(100vh - 90px);
    grid-template-columns: 450px auto;
  }

  .Panel {
    margin: 3px;
  }

  .SidePanel {
    overflow-y: auto;
    max-height: calc(100vh - 90px);
  }

  .MainArea {
    display: grid;
    grid-template-rows: fit-content(100%) auto;
    height: calc(100vh - 90px);
  }

  .MainTopPanel {
    height: fit-content;
  }

  .MainPanel {
    overflow-y: auto;
  }

  .TransactionDetails {
    padding-left: 0.5ex;
  }

  .current {
    font-weight: bold;
  }

  .sub-selected {
    outline: 1px black solid !important;
    outline-offset: 1px;
  }

  .hide-overflow {
    white-space: nowrap;
    overflow: hidden;
  }

  .MuiTableCell-body {
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  .sub-selected {
    outline: 2px whitesmoke solid !important;
    outline-offset: 1px;
  }
  .Mui-selected {
    background-color: rgba(255,0,200,0.3) !important;
  }
  .MuiTableRow-root .MuiTableCell-body {
    border-color: rgba(255,255,255,0.2) !important;
  }
  .ReportDisplayTable tr.columns {
    border-top-color: rgba(255,255,255,0.5);
  }
}
